
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
}
@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#orders').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Admin/Order/GetOrderData",
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 8,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-success btn-sm" onclick="window.location.href='/admin/order/acceptproductorder/${data}'" value='${data}'>
                                                        Accept
                                                    </button>
                                                    <button type="submit" class="btn btn-danger btn-sm" href="#" onclick="window.location.href='/admin/order/rejectproductorder/${data}'" value='${data}'>
                                                        Reject
                                                    </button>`;
                        }
                    }
                ]
            });
        });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Orders</h1>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Orders</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="orders" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>User Email</th>
                                    <th>Product Name</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Order Status</th>
                                    <th>Quantity</th>
                                    <th>TotalPrice</th>
                                    <th>Payment Status</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>User Email</th>
                                    <th>Product Name</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Order Status</th>
                                    <th>Quantity</th>
                                    <th>TotalPrice</th>
                                    <th>Payment Status</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-wrapper -->