@model Onnorokom.ShoppingCart.Web.Areas.Admin.Models.Categories.CreateCategoryModel
@{
    ViewData["Title"] = "CreateCategory";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create A New Category</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal needs-validation" method="post" asp-controller="Category"
                          asp-action="CreateCategory" asp-antiforgery="true">
                        <div class="card-body">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                                <div></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Name" id="name"
                                           placeholder="Category Name" required>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <div class="invalid-tooltip">
                                        Please provide category.
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Create</button>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-default float-right">Cancel</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>
}

