
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
}
@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#orders').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Order/GetOrderDataForUser",
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 7,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-danger btn-sm" onclick="window.location.href='/order/cancelproductorder/${data}'" value='${data}'>
                                                        Cancel Order
                                                    </button>`
                        }
                    }
                ]
            });
        });
    </script>
}

@if ((string)TempData["Status"] == "Cancel")
{
<div style="padding-left:100px;padding-right:100px;" class="content">
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
    <strong>Your Order is Canceled</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
}

<section class="content" style="padding-left:200px;padding-right:200px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Your Orders</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="orders" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Order Status</th>
                                    <th>Quantity</th>
                                    <th>TotalPrice</th>
                                    <th>Payment Status</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Order Status</th>
                                    <th>Quantity</th>
                                    <th>TotalPrice</th>
                                    <th>Payment Status</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-wrapper -->
