@model Onnorokom.ShoppingCart.Web.Models.Orders.OrderModel
@{
    ViewData["Title"] = "OrderProduct";
}


<section class="content" style="text-align:center;padding-left:300px;padding-right:300px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Order</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <img src="/Image/@Model.ImageName" style="width:200px;height:200px;" />
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Product Name</label>
                                <div class="col-sm-5">
                                    @Model.Name
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Price</label>
                                <div></div>
                                <div class="col-sm-5">
                                    @Model.Price
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">
                                    Category Name
                                </label>
                                <div></div>
                                <div class="col-sm-5">
                                    @Model.CategoryName
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </form>
                    <div class="card-body">
                        <form method="post" asp-controller="Order" asp-action="OrderProduct" asp-antiforgery="true" >
                            <input asp-for="Name" type="hidden"/>
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-3">
                                    <input type="number" asp-for="Quantity" class="form-control" placeholder="Quantity" required>
                                </div>
                                <span asp-validation-for="Quantity"></span>
                            </div>
                            <button type="submit" style="padding-top:10px;" class="btn btn-info float-left">Confirm</button>
                            <button type="submit" style="padding-top:10px;" class="btn btn-info float-right">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


