@model Onnorokom.ShoppingCart.Web.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="card-body">
    <p class="login-box-msg">Register a new membership</p>

    <form asp-controller="Account" asp-action="Register" method="post" asp-antiforgery="true">
        <div class="input-group mb-3">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
                <div class="invalid-feedback">
                    Please enter a Email.
                </div>
            </div>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span  class="fas fa-lock"></span>
                </div>
                <div class="invalid-feedback">
                    Please enter a Password.
                </div>
            </div>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Retype password" required>
            <div class="input-group-append">
                <div class="input-group-text" >
                    <span class="fas fa-lock"></span>
                </div>
                <div class="invalid-feedback">
                    Please enter Confirm Password.
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                        I agree to the terms
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a asp-controller="Account" asp-action="Login" class="text-center">I already have a membership</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}