
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "_AccountLayout";
}

<div class="card-body">
    <p>
        Your Password reset successfully
        Please <a asp-action="Login" asp-controller="Account">Log in</a>
    </p>
</div>

